.registration {
  display: flex;
  background-color: rgb(170, 170, 170);
  width: 300px;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0 0 0;
  padding: 20px;
  border-radius: 20px;
  align-items: flex-start;
}
