.registration {
  display: flex;
  color: #a6b1e1;
  background-color: #f4eeff;
  width: 300px;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0 0 0;
  padding: 20px;
  border-radius: 20px;
  align-items: flex-start;
}
